*{
    margin: 0;
    padding: 0;
}
.bg-image{
    background: url('pexels-photo-573299.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}
.bw-gradient{
    width: 100%;
    height: 100vh;
    position: absolute;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+11,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 11%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 11%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 11%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.header{
    position: fixed;
    width: 100%;
    height: 70px;
    margin: 0 auto;
}
.sub-header{
    position: relative;
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    transition:0.5s;
}
.sub-header.active{
    width: 100%;
    background: black;
    height: 50px;
}
.sub-header .left-menu{
    float: left;
}
.sub-header .logo a{
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
}

.sub-header.active .logo a{
    top:10px;
    font-size: 20px;
}

.sub-header .right-menu{
    float: right;
}
.sub-header ul li{
    list-style: none;
    min-width:100px;
    font-size: 16px;
    float: left;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin:20px 2px;
    transition:0.5s;
}
.sub-header.active ul li{
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}
.sub-header ul li a{
    text-decoration: none;
    color:#fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: -0.1px;
    text-transform: uppercase;
    transition:0.5s;
    display: block;
    border-radius: 2px;
}
.sub-header.active ul li a{
    color: #39f60a;
}
.sub-header ul li:hover a{
    background: #39f60a;
}
.sub-header.active ul li:hover a{
    background: black;
}

.para{
    font-family: 'Playfair Display', sans-serif;
    margin: 50px;
    font-size: 16px;
}

@media screen and (max-width:1200px){
    .sub-header{
        width: 100%;
    }
}



@media screen and (max-width:768px){
    .sub-header ul{
        position: relative;
        top: 30px;
        float: none;
        display: block;
    }
   
    .sub-header .logo a{
        font-size: 30px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 8px;
        display: block;
    }
    
    .sub-header.active ul{
        height: auto;
        width :100%;
        float: none;
        overflow: hidden;
        background: #fff;
        position: relative;
        top: 50px;
    }
    .sub-header.active ul li{
        width: 100%;
        display: block;

    }
   
}

@media screen and (max-width:605px){
    .sub-header .right-menu{
        float: left;
    }
}

@media screen and (max-width:480px){
    .sub-header ul{
        width: 100%;
        background: #fff;
        color:#333;
        top:50px;
    }
    .sub-header ul li{
        list-style: none;
        width:100%;
        font-size: 16px;
        float: none;
        display: block;
        text-align: center;
        height: 30px;
        line-height: 30px;
        transition:0.5s;
        color:#333;
    }
    .sub-header ul li a{
        color: #333;
    }
    .sub-header .right-menu{
        border-top :1px dashed #333;
    }
    .sub-header.active ul{
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        border: none;
    }
    
    
    
}